<div
  #mouseElement
  id="customCursor"
  class="pointer-events-none fixed translate-[-50%] w-[max(32px,2.2vw)] h-[max(32px,2.2vw)] mix-blend-difference"
  [style.left]="cursorXSignal() + 'px'"
  [style.top]="cursorYSignal() + 'px'"
>
  <div
    #outerCursor
    id="outerCursor"
    class="absolute left-[50%] top-[50%] h-[max(14px,0.9vw)] w-[max(14px,0.9vw)] translate-[-50%] rounded-full border border-transparent"
  ></div>

  <div
    #innerCursor
    id="innerCursor"
    class="absolute left-[50%] top-[50%] h-[max(14px,0.9vw)] w-[max(14px,0.9vw)] translate-[-50%] rounded-full bg-white border border-transparent"
  ></div>
</div>

@if (hoverTextValue()) {
  <p
    #tooltipElement
    id="tooltipElement"
    class="pointer-events-none fixed z-50 bg-black text-white text-xs font-[JetBrains_Mono]"
    [style.left]="tooltipXSignal() + 'px'"
    [style.top]="tooltipYSignal() + 'px'"
    [@fadeInScale]
  >
    @if (!showMarquee()) {
      {{ '[' + hoverTextValue() + ']' }}
    } @else {
      <span class="flex gap-0.5">
        <app-marquee [text]="hoverTextValue()!" />
      </span>
    }
  </p>
}
