<div
  class="navbar w-full h-12.5 fixed justify-between px-3.75 content-center z-20 top-0 flex flex-row items-center"
>
  <div>
    <a
      class="font-[Brigends] text-xl"
      routerLink="/"
      (mouseenter)="playHoverAudio()"
      (mouseleave)="stopHoverAudio()"
      >Debugg</a
    >
  </div>
  <nav class="hidden md:flex absolute left-1/2 -translate-x-1/2 gap-6">
    @for (link of navLinks; track link.route) {
      <a [routerLink]="link.route" routerLinkActive #rla="routerLinkActive" class="nav-link">
        <span class="menu">
          <span class="track" [class.active-track]="rla.isActive">
            <span class="label">{{ link.label }}</span>
            <span class="label hovered">{{ link.label }}</span>
          </span>
        </span>
      </a>
    }
  </nav>
  <div class="hidden md:block">
    <app-controls></app-controls>
  </div>
  <div class="block md:hidden">
    <p>todo: menu</p>
  </div>
</div>
