#status {
  display: inline;
  color: yellow;

  &.online {
    color: lime;
    text-shadow:rgb(4 255 214 / 0%) 0px 0px 10px, rgb(0 255 236 / 17%) 0px 0px 20px, rgb(2 230 0 / 17%) 0px 0px 30px, rgb(0 230 178 / 0%) 0px 0px 40px, rgb(0 230 27 / 24%) 0px 0px 50px, rgb(0 230 178 / 0%) 0px 0px 60px, rgb(0 230 122 / 0%) 0px 0px 70px;
  }
}
