# This is an example of the .env file structure. Copy this file to .env and fill in the values.
# Get a Last.fm API key from https://www.last.fm/api/account/create and your Last.fm username to use the app.
LASTFM_API_KEY=
LASTFM_USERNAME=
