.navlinks {
  .navlink {
    text-decoration: none;
    font-weight: normal;
    font-family: "MS UI Gothic";
    transition: color 0.7s;
    margin-bottom: 3px;
    color: white;
  }

  .navlink:hover {
    text-decoration: underline;
  }
}
