<div class="container navlinks">
  <h2 style="display:inline">Links</h2>
    <br>
    <a #navlink class="navlink" href="/" id="home-link">✩ Home</a><br>
    <a #navlink class="navlink" href="https://volvo.debugg.co">✩ Volvo Retrofits</a><br>
    <a #navlink class="navlink" target="_blank" href="/invite">✩ Discord</a><br>
    <a #navlink class="navlink" target="_blank" href="https://bsky.app/profile/debugg.co">✩ Bluesky</a><br>
    <a #navlink class="navlink" target="_blank" href="https://instagram.com/iamdebugg">✩ Instagram</a><br>
    <a #navlink class="navlink" target="_blank" href="https://github.com/realdebugg">✩ GitHub</a><br>
    <a #navlink class="navlink" href="mailto:hello@debugg.co">✩ E-mail</a><br>
</div>
