<div class="container rain-hitbox navlinks">
  <h2 style="display:inline">Links</h2>
  <ul>
    <li><a #navlink class="navlink" href="/" id="home-link">✩ Home</a></li>
    <li><a #navlink class="navlink" href="https://volvo.debugg.co">✩ Volvo Retrofits</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/invite">✩ Discord</a></li>
    <li><a #navlink class="navlink" target="_blank" href="https://bsky.app/profile/debugg.co">✩ Bluesky</a></li>
    <li><a #navlink class="navlink" target="_blank" href="https://instagram.com/iamdebugg">✩ Instagram</a></li>
    <li><a #navlink class="navlink" target="_blank" href="https://github.com/realdebugg">✩ GitHub</a></li>
    <li><a #navlink class="navlink" href="mailto:hello@debugg.co">✩ E-mail</a></li>
  </ul>
</div>
