<div class="container rain-hitbox navlinks">
  <h2 style="display:inline">Links</h2>
  <ul>
    <li><a #navlink class="navlink" routerLink="/">✩ Home</a></li>
    <!--
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Diary</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Photo Album</a><span id="new-photos">(!)</span></a></li>
    -->
    <li><a #navlink class="navlink" href="https://volvo.debugg.co">✩ Volvo Retrofits</a></li>
    <li><a #navlink class="navlink" routerLink="/invite">✩ Discord</a></li>
    <!--
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Guestbook</a></li>
    -->
    <li><a #navlink class="navlink" target="_blank" href="https://x.com/iamdebugg">✩ Twitter</a></li>
    <li><a #navlink class="navlink" target="_blank" href="https://bsky.app/profile/debugg.co">✩ Bluesky</a></li>
    <li><a #navlink class="navlink" target="_blank" href="https://instagram.com/iamdebugg">✩ Instagram</a></li>
    <li><a #navlink class="navlink" target="_blank" href="https://github.com/realdebugg">✩ GitHub</a></li>
    <!--
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Donate</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Mood tracker</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Digital CV</a></li>
    -->
    <li><a #navlink class="navlink" href="mailto:hello@debugg.co">✩ E-mail</a></li>
  </ul>
</div>
