.navlinks {
  h2 {
    color: #00f3ff;
  }

  .navlink {
    text-decoration: none;
    font-weight: normal;
    font-family: "MS UI Gothic";
    transition: color 0.7s;
    margin-bottom: 3px;
  }

  .navlink:hover {
    text-decoration: underline;
  }
}
