.scanline {
    width: 100%;
    height: 100px;
    z-index: 9999999999999999999999;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(255, 255, 255, 0.2) 10%,
            rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.05;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;
}

main {
    width: 900px;
    margin: 0 auto;
}