<app-container-with-dots>
  <div
    class="music-container rain-hitbox"
    [class.playing]="lastfm.nowPlaying()"
    (click)="openTrackLink()"
  >
    <div class="music-visualizer" aria-hidden="true"></div>
    <div class="flex flex-row gap-2">
      <img [src]="lastfm.track()!.image || '/defaultmusic.jpg'" width="150" height="150">
      <div class="flex flex-col justify-between">
        <div>
          <p [className]="(lastfm.nowPlaying() ? 'active' : 'inactive') + ' font-mono'">
            {{lastfm.nowPlaying() ? "now_playing_on_apple_music" : "last_played_on_apple_music"}}
          </p>
          <p class="text-lg font-bold uppercase [color:#fa586a] [font-family:JetBrains_Mono]">
            {{lastfm.track()!.name || 'No data'}}
          </p>
          <p class="capitalize text-sm text-gray-400 [font-family:JetBrains_Mono]">
            {{lastfm.track()!.artist || 'No data'}}
          </p>
        </div>

        @if (!lastfm.nowPlaying()) {
          <p class="[font-family:JetBrains_Mono] [color:#fa586a]">Played {{ lastfm.track()!.playedAt | dateAgo }}</p>
        }
      </div>
    </div>
  </div>
</app-container-with-dots>
