<div class="container" style="margin-top: 10px;margin-bottom: 10px;">
  <div [className]=" lastfm.nowPlaying() ? 'blob' : 'inblob'" id="pulser"></div> <b id="currentlylistening">Last song:</b><br><br>
    <a href="{{ lastfm.track()!.url }}" id="songlink" target="_blank">
      <div id="musicbox">
        <img [src]="lastfm.track()!.image || '/defaultmusic.jpg'" width="50" height="50" id="albumcover">
        @if (lastfm.track()!.name.length > 20) {
          <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3" id="songname">{{lastfm.track()!.name || 'No data'}}</marquee>
        } @else {
          <span id="songname">{{lastfm.track()!.name || 'No data'}}</span>
        }
        <span id="artist">{{lastfm.track()!.artist || 'No data'}}</span>
      </div>
      <span id="lastplayed">Played {{ lastfm.track()!.playedAt | dateAgo }}</span>
    </a>
</div>
