<div class="container rain-hitbox navlinks">
  <h2 style="display: inline">Links</h2>
  <ul>
    <!--
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Diary</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Photo Album</a><span id="new-photos">(!)</span></a></li>
    -->
    <li><a #navlink class="navlink" href="https://volvo.debugg.co">✩ Volvo Retrofits</a></li>
    <!--
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Guestbook</a></li>
    -->
    <!--
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Donate</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Mood tracker</a></li>
    <li><a #navlink class="navlink" target="_blank" href="/">✩ Digital CV</a></li>
    -->
  </ul>
</div>
