@font-face {
  font-family: "Brigends";
  src: url("/brigends.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  background: black;
  color: white;
}

::selection {
  background-color: #00f3ff;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(70, 70, 70, 0.479);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(31, 31, 31);
  outline: 1px solid #009199;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(31, 31, 31);
  outline: 1px solid #00f3ff;
}

app-human .human {
  pointer-events: auto !important;
}

app-human {
  position: static;
  z-index: 0;
}

app-human .human {
  z-index: 0 !important;
}

app-navbar,
app-navbar .navbar {
  z-index: 10000001 !important;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }

  80% {
    bottom: 100%;
  }

  100% {
    bottom: 0%;
  }
}

body::after {
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000003;
  opacity: 0.5;
  background: linear-gradient(to top, rgba(0,0,0,0.04), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.04));
  background-size: cover;
  background-size: 100% 5px;
  animation: static infinite 0.8s linear;
  animation-timing-function: steps(4);
}

@keyframes static {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 4px;
  }
}
