/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: black;
    color: white;
}

body::after {
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999999999999999;
    opacity: 0.5;
    background: linear-gradient(to top, rgba(0,0,0,0.04), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.04));
    background-size: cover;
    background-size: 100% 5px;
    animation: static infinite 0.8s linear;
    animation-timing-function: steps(4);
}

body {
    animation: textShadow 0.15s infinite;
    image-rendering: pixelated;
    font-family: "MS UI Gothic";
}

span {
    display: inline-block;
}

br {
    display: block;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6, a {
    font-weight: normal;
    font-family: ibmvga8, monospace;
}

a {
    color: #00f3ff;
}

@font-face {
    font-family: ibmvga8;
    src: url("/ibm_vga8.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.7),
            -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.7),
            -2.7928974010788217px 0 2px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.7),
            -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.7),
            -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.7),
            -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.7),
            -1.6125630401149584px 0 2px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.7),
            -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.7),
            -3.896914047650351px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.7),
            -3.870905614848819px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.7),
            -2.231056963361899px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.7),
            -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.7),
            -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.7),
            -2.202193051050636px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.7),
            -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.7),
            -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.7),
            -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.7),
            -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.7),
            -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.7),
            -3.443339761481782px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.7),
            -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }

    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.7),
            -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.5), 0 0 3px;
    }
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }

    80% {
        bottom: 100%;
    }

    100% {
        bottom: 0%;
    }
}

@keyframes static {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 4px;
    }
}